{
  "printWidth": 100,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "importOrder": [
    "Config/(.*)$",
    "Db",
    "Db/(.*)$",
    "API/(.*)$",
    "Middleware/(.*)$",
    "Controller/(.*)$",
    "Services/(.*)$",
    "Utils/(.*)$",
    "Constants/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}